* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white;
    box-shadow: 10px 10px 10px rgb(246, 230, 230);

}

.nav-link {
    text-transform: uppercase;
    color: black;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar .btn1 {
    height: 45px;
    width: 150px;
    border-radius: 60px;
    outline: none;
    border: none;
    /* border: 2px solid rgb(255,0,0); */
    background: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    font-size: large;

}

.navbar .btn1::placeholder {
    text-align: center;
    color: white;
    font-weight: 700;
}

.navbar span {
    padding-right: 4px;
}

/* ============================== main =========================================== */
.main h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(0, 0, 128);
}

.main p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(51, 51, 96);
}

.btn2 {
    height: 41px;
    width: 172px;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 60px;
}

.main .btn3 {
    height: 41px;
    width: 172px;
    border: 2px solid rgb(0, 0, 128);
    outline: none;
    border-radius: 60px;
    background: white;
    color: rgb(0, 0, 128);
    font-weight: bold;
    font-size: 1.1rem;
    /* background: transparent; */
}

.main .fa-brands {
    padding-right: 3px;
}

/* ======================= lern ====================================== */
.learn p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(51, 51, 96);
}

.learn h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(0, 0, 128);
}

/* ====================== tutors ============================================ */
.tutors h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(0, 0, 128);
}

.tutors p {
    font-weight: lighter;
    font-size: 1.1rem;
}

/* ======================= price ========================================== */

.price h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(0, 0, 128);
}

.price p {
    font-weight: lighter;
    font-size: 1.1rem;
}

.price .p1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.btn4 {
    height: 40px;
    width: 48%;
    border: none;
    outline: none;
    background: red;
    color: white;
    font-size: 1.1rem;
    font-weight: 650;
    border-radius: 60px;
}

.price .p2 {
    text-decoration: line-through;
}

.btn5 {
    height: 40px;
    width: 48%;
    border: 2px solid rgb(51, 51, 96);
    outline: none;
    background: white;
    color: rgb(51, 51, 96);
    font-size: 1.1rem;
    font-weight: 650;
    border-radius: 60px;
}

.price .card:hover {
    background-color: rgb(209, 236, 234);
    -webkit-box-shadow: -1px -3px 27px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -3px 27px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -3px 27px -3px rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
}
/* =================== discuss ============================================= */
.discuss p{
    font-size: 1.1rem;
    font-weight: lighter;
}
.discuss h1{
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(0, 0, 128);
}
.btn7{
    height: 40px;
    width: 35%;
    border: none;
    outline: none;
    color: white;
    background: red;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 60px;
}
.btn8{
    height: 40px;
    width: 35%;
    border: 2px solid rgb(51, 51, 96);
    outline: none;
    color: rgb(51, 51, 96);
    background: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 60px;
}
/* ====================== footer ==================================== */
.footer{
    background: rgb(230, 239, 246);
}
.footer h5{
    font-size: 1.7rem;
}
.footer p{
    font-weight: 400;
    font-size: 1.1rem;
}
.footer .fa-brands{
    font-size: 1.9rem;
}